* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.head1 {
  font-weight: 700;
  font-size: 3.6rem;
}
.head2 {
  font-weight: 700;
  font-size: 1.1rem;
}
.head3 {
  font-weight: 500;
  font-size: 1rem;
}
.mini {
  font-weight: 600;
  font-size: 0.9rem;
}
.thin {
  font-weight: 500;
  font-size: 0.7rem;
}
.progress {
  width: 170px;
  height: 170px;
  border-radius: 50%;

  background: conic-gradient(#f86f92 0% 75%, #f9c7d3 75% 100%);

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}

.progress::before {
  content: "";
  position: absolute;
  width: 150px;
  height: 150px;
  background: #fce5e6;
  border-radius: 50%;
}

.inner {
  position: relative;
  font-size: 42px;
  font-weight: bold;
  color: #2d2235;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.full {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 0.9fr 0.3fr 1.2fr 1fr;
  grid-template-rows: 8fr 6fr 1fr 2.5fr 7fr;
  grid-template-areas:
    "top-left top2 top2 top3 top-right"
    "top-left centre centre centre top-right"
    "bottom-left centre centre centre top-right"
    "bottom-left centre centre centre bottom-right"
    "bottom-left bottom2 bottom3 bottom3 bottom-right";
  background-color: rgb(0, 0, 0);
  padding: 15px;
  gap: 10px;
}
.top-left {
  background-color: #fce5e6;
  grid-area: top-left;
  padding: 3vw;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
}
.tl-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  margin-bottom: 10px;
}
.tl-2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.tl-3 {
  display: flex;
  flex-direction: column;
}
.tl-3 > button {
  padding: 10px 20px;
  margin-top: 25px;
  border: none;
  background-color: rgba(255, 255, 255, 0.678);
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 30px;
}
.top2 {
  background-color: #fbf6f6;
  grid-area: top2;
  padding: 2vw;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}
.t2-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  margin-bottom: 20px;
}
.t2-1 > h1 {
  font-size: 3.2rem;
}
.circle {
  background-color: #fbdede;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}
.t2-3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:;
  margin-top: 25px;
  gap: 10px;
}
.t2-3 > button {
  color: #f86f92;
  border: 1px solid black;
  padding: 10px 15px;
  background-color: #fbf6f6;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  font-weight: 600;
  font-size: 0.8rem;
  gap: 6px;
}
.top3 {
  background-color: #fbf6f6;
  padding: 3vw;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  grid-area: top3;
}
.t3-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  margin-bottom: 10px;
}
.t3-12 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background-color: #f5d8d9;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  font-size: 30px;
  font-weight: 50;
}
.t3-11 > span {
  color: rgb(27, 190, 27);
}
.t3-11 {
  gap: 8px;
  display: flex;
  flex-direction: column;
}

.top-right {
  background-color: #fbf6f6;
  padding: 3vw;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  grid-area: top-right;
}
.pics {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
}
.pics > img,
.ce {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  border: 2px solid white;
  margin-left: -8px;
}
.ce {
  font-size: 0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #343434;
  color: white;
}
.line {
  width: 100%;
  height: 2px;
  background-color: rgba(104, 103, 103, 0.113);
}
.pics > img:nth-child(1) {
  z-index: 6;
}
.pics > img:nth-child(2) {
  z-index: 5;
}
.pics > img:nth-child(3) {
  z-index: 4;
}
.pics > img:nth-child(4) {
  z-index: 3;
}
.conto {
  display: flex;
  align-items: end;
  justify-content: space-between;
}
.lef > h6 {
  color: #e27487;
}
.rig > div {
  background-color: #fbdede;
  width: 60px;
  height: 60px;
  border-radius: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
}
.centre {
  background-color: #fbdede;
  border-radius: 20px;
  grid-area: centre;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  position: relative;
}
.cir {
  background: radial-gradient(rgb(250, 239, 239) 0%, #f4adb5 100%);
  height: 100%;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.cir > img {
  height: 430px;
  width: auto;
  bottom: 0px;
  position: absolute;
}
.centre > p {
  z-index: 5;
}
.one {
  width: auto;
  height: auto;
  background-color: #fbf6f6;
  position: absolute;
  left: 3vw;
  top: 5vh;
  z-index: 9;
  padding: 1vw;
  gap: 5px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(56, 56, 56, 0.1) 10px 5px 3px;
}
.up {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 13px;
}
.one > img {
  width: 110px;
}
.two {
  width: auto;
  height: auto;
  background-color: #fbf6f6;
  position: absolute;
  left: 2.8vw;
  bottom: 3vh;
  z-index: 9;
  padding: 1vh;
  gap: 15px;
  border-radius: 20vh;
  display: flex;
  box-shadow: rgba(56, 56, 56, 0.1) 10px 5px 3px;
}
.cc {
  width: 4vh;
  height: 4vh;
  background-color: #ea566f;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  color: white;
}
.dc {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-right: 15px;
}
.three {
  width: auto;
  height: auto;
  background-color: #fbf6f6;
  position: absolute;
  right: 4vw;
  top: 1vh;
  z-index: 9;
  padding: 1vh;
  gap: 5px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(56, 56, 56, 0.1) 10px 5px 3px;
}
.three > img {
  width: 140px;
}
.four {
  width: auto;
  height: auto;
  background-color: #fbf6f6;
  position: absolute;
  right: 3vw;
  bottom: 1vh;
  z-index: 9;
  padding: 1vh;
  gap: 15px;
  border-radius: 10px;
  display: flex;
  box-shadow: rgba(56, 56, 56, 0.1) 10px 5px 3px;
}
.cii {
  width: 40px;
  height: 40px;
  background-color: #ffbbc6cc;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
}
.ll > h6 {
  color: rgb(27, 190, 27);
  margin-top: 6px;
}
.bottom-left {
  background-color: #1e1e1e;
  grid-area: bottom-left;
  padding: 2vw;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: white;
}
.bl-1 {
  display: flex;
  align-items: top;
  justify-content: space-between;
  width: 100%;
  height: auto;
}
.bl1-l {
  color: white;
  line-height: 1.7rem;
}
.bl1-l > span {
  font-size: 1.3rem;
}
.coco {
  color: #edb4b4;
}
.bl1-r {
  background-color: #343436;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-size: 1.3rem;
}
.bl-2 {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
}
.bl-2 > img {
  border-radius: 10px;
  width: 47%;
  height: 17vh;
  object-fit: cover;
  object-position: center;
}
.bl-3 {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  margin-left: 2vw;
}
.bl-3 > img,
.ck {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  margin-left: -8px;
}
.ck {
  font-size: 0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fd768e;
  color: white;
}
.bottom2 {
  background-color: #fbf6f6;
  padding: 2vw;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  grid-area: bottom2;
}
.b2-1 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.b21-l > h5 {
  font-size: 1.7rem;
  margin-bottom: 5px;
}
.b21-r {
  background-color: #fbdee2;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.b2-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.b2-3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.black {
  background-color: black;
  width: 3vw;
  height: 3vw;
  border-radius: 10px;
}
.grey {
  background-color: #b0b0b0;
  width: 3vw;
  height: 3vw;
  border-radius: 10px;
}
.pink {
  background-color: #fd778e;
  width: 3vw;
  height: 3vw;
  border-radius: 10px;
}
.lpink {
  background-color: #fdd6d8;
  width: 3vw;
  height: 3vw;
  border-radius: 10px;
}

.bottom3 {
  background-color: #fef2f3;
  grid-area: bottom3;
  padding: 2vw;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}
.b3-l {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 70%;
}
.b3-l > h4 {
  font-size: 1.2rem;
  margin-bottom: 5px;
}
.butt {
  width: fit-content;
  background-color: black;
  height: 35px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  color: white;
  margin-top: 15px;
}
.b3-r {
  position: relative;
  display: flex;
}
.b3-r > img {
  width: 12vw;
  object-fit: cover;
  object-position: center;
  z-index: 3;
  position: absolute;
  left: -5vw;
  transform: translate(-50%, -50%);
}
.cm {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  background-color: #fcdfe0;
  position: absolute;
  right: -20px;
  transform: translate(50%, -50%);
  bottom: -310px;
  z-index: 2;
}
.bottom-right {
  background-color: white;
  padding: 2vw;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  grid-area: bottom-right;
  gap: 5px;
}
.bottom-right > img {
  width: 40%;
  object-fit: cover;
  object-position: center;
}
.bottom-right > h1 {
  font-size: 2.8rem;
}
.dis {
  width: fit-content;
  background-color: #ec9ca7;
  height: 35px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  color: black;
  padding: 20px;
  font-size: 1rem;
  font-weight: 600;
}
