* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  padding: 0rem 2.2rem;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0rem;
}

.nav-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: -1px;
}
.nav-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  color: #313030;
  letter-spacing: 0px;
}
.nav-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 400;
  gap: 1.5rem;
}
.inv {
  color: white;
  background-color: black;
  padding: 0.8rem;
  border-radius: 50%;
  font-weight: 300;
  font-size: 1rem;
}
.line {
  width: 100%;
  height: 0.2rem;
  background-color: #ebebeb;
}
.page {
  display: grid;
  gap: 1rem;
  height: 80vh;
  margin-top: 1.8rem;
  grid-template-columns: 1.05fr 1.05fr 1.26fr 1fr 1fr;
  grid-template-rows: 3fr 4.7fr 1fr 3.9fr 2.6fr;
  grid-template-areas:
    "top top top top top"
    "left1 left2 center right2 right1"
    "left1 left2a center right2 right1"
    "left1 left2a center right2a right1"
    "b1 b1 b2 b3 b3";
}
.top {
  grid-area: top;
  background-color: #F0D7AB;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 2rem;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 4rem;
  margin-bottom: 1.rem;
  position: relative;
}
.top span {
  font-size: 0.7rem;
  font-weight: 200;
  letter-spacing: 1px;
  text-align:left;
  position: absolute;
  bottom: -1.45rem;
  left: 0.5rem;
  display: flex;
}
.left1 {
  grid-area: left1;
  background-color: #FFB24D;
  border-radius: 1.5rem;
  padding:0rem 0.3rem;
}
.left1 span {
  font-size: 1.2rem;
  font-weight: 500;
  text-align:left;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  line-height: 1.6rem;
}
.left2 {
  grid-area: left2;
  background-color: #F0D7AB;
  border-radius: 1.5rem;
  margin-top:2.2rem;
}
.center {
  grid-area: center;
  background-color: #FED644;
  border-radius: 1.5rem;
}
.right2 {
  grid-area: right2;
  background-color: #FE8737;
  border-radius: 1.5rem;
  margin-top:2.2rem;
}
.right1 {
  grid-area: right1;
  background-color: #76B58D;
  border-radius: 1.5rem;
  margin-top:7rem;
  margin-bottom:6.7rem;
}
.left2a {
  grid-area: left2a;
  background-color: #26B9B0;
  border-radius: 1.5rem;
  margin-bottom:2rem;
}
.right2a {
  grid-area: right2a;
  background-color: #00A0EE;
  border-radius: 1.5rem;
  margin-bottom:2rem;
}
.b1 {
  grid-area: b1;
  background-color: #ec1e1e;
}
.b2 {
  grid-area: b2;
  background-color: #c023d4;
}
.b3 {
  grid-area: b3;
  background-color: #6ae43a;
}
